.App {
  text-align: center;
}

.App > * {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  min-height: 15vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-main {
  min-height: 85vh;
  font-size: calc(5px + 1vmin);
}

.buttons {
  display: flex;
}

button {
  padding: 10px 20px;
  margin-bottom: 20px;
}
